<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="form-group">
      <%= f.label :question_id, :class => 'control-label col-lg-2' %>
      <div class="col-lg-2">
        <%= f.collection_select(:question_id, Question.all, :id, :truncated_content, {},{:size => 3}) %>
      </div>
      <%=f.error_span(:question_set_id) %>
    </div>
  </div>
</div>
